<!DOCTYPE html>
<html>
<head>
  <style>
    #backButton {
      position: fixed;
      top: 0;
      left: 0;
    }
  </style>
  <meta charset="utf-8">
  <title>Shopping Cart</title>
</head>
<body>
  <button id="backButton">Back</button>
  <script>
    document.getElementById('backButton').addEventListener('click', function() {
      window.history.back();
    });
  </script>

  <h1>Shopping Cart</h1>
  <% if (items.length == 0) { %>
    <p>Your cart is empty</p>
  <% } else { %>
    <ul>
      <% var total = 0; %>
      <% items.forEach((item) => { %>
        <tr>
         <h1><%= item.product_name %><br/></h1>
         <img src="<%= item.product_image %>" alt=""><br/>
         <%= "QUANTITY-" + item.quantity %><br/>
         <% if (item.product_price) { %>
          <%= "PRICE-" + item.product_price.toFixed(2) %><br/>
        <% } %>
         <form method="get" action="/delete-from-cart/<%= item.product_id %>">
          <input type="hidden" name="productImage">
          <button type="submit">Remove from Cart</button>
        </form>
      </tr>
      <% total += parseFloat(item.product_price); %>
      <% }); %> 
      <tr>
        <h1>Total Amount: <%= total %></h1>
      </tr> 
      <form method="get" action="/AddDetails/<%= total %>">
        <button type="submit">Proceed to add details</button>
      </form>
    </ul>
  <% } %>  
</body>
</html>

